html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

.last {
    margin-bottom: 0;
    margin-right: 0;
}

#bike {
    -webkit-transition: all 0.5s ease-out;
    position: absolute;
    bottom: 0;
}

#bike:hover {
    margin-left: 250px;
    -webkit-transform: translate(-37px, -7px) rotate(-9deg);
    -webkit-transition: all 1s ease-in;
}

.hero-unit {
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 30px 50px;
    background: url(../img/old_mathematics.png) repeat;
}

.control-group {
    margin-bottom: 5px !important;
}

.control-group .control-label.left {
    display: inline;
    float: none;
    text-align: left;
}

.city-select {
    margin: 0 8px 8px 0;
}

.half {
    float: left;
    width: 50%;
}